h1 {
    color: brown;
}

* {
    border: solid;
}

.header{
    background-color: cadetblue;
    display:flex;

    justify-content:space-between;
}
.des{
    background-color: cornflowerblue;
    display:flex;

    justify-content: first baseline;
    flex-direction: column;
}
.grid{
    background-color: cornsilk;
    display:flex;

    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;

    justify-content: flex-end;
}